language: perl6
sudo: false
os:
  - linux
perl6:
  - latest
  - '2020.06'
before_install:
  - sudo apt-get -y install libharfbuzz-dev
install:
  - rakudobrew build zef
  - zef --depsonly install .
  - zef build .
script:
  - prove -ve "raku -I."
  - zef install .
